<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF | EAS</title>
</head>

<style>
    /* FONTS */
    @font-face {
        font-family: 'PoppinsRegular';
        src: url(/public/fonts/Poppins-Regular.ttf);
    }

    /* Global */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'PoppinsRegular', sans-serif;
    }

    a {
        text-decoration: none;
        color: #000000;
    }

    body {
        align-items: center;
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header {
        height: auto;
        padding-top: 10px;
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
    }

    footer {
        position: absolute;
        bottom: 0;
        background-color: #D01E29;
        color: #FFFFFF;
        width: 97%;
        height: 45px;
        padding: 10px;
        text-align: center;
    }

    footer a {
        color: #FFFFFF;
        font-weight: normal;
        margin: 0;
        border-color: #D01E29;
        border-bottom: 1px solid #D01E29;
    }

    .text-primary {
        color: #2460BC;
    }

    .text-danger {
        color: #D01E29;
    }

    .separator {
        border-top: 3px solid #bbb;
        width: 100%;
        align-self: center;
        margin: 10px 0;
    }

    .pdf-container {
        position: absolute;
        top: 60px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }

    .pdf-field {
        width: 60%;
        margin: 20px 0;
        margin-left: 70px;
        font-size: 18px;
    }

    .pp-img {
        position: absolute;
        height: 170px;
        width: 140px;
        top: 20px;
        right: 150px;
        padding-top: 70px;
        padding-left: 20px;
        background-color: #f8faff;
        border-radius: 15px;
        border-style: solid;
        border-width: 1px;
        border-color: grey;
    }

    .notes {
        text-align: justify;
        text-justify: inter-word;
        font-size: 16px;
        margin: 3px 0;
        width: 100%;
    }
</style>

<body oncontextmenu="return false">
    <header>
        <p class="text-primary">Driving License Application</p>
    </header>
    <div class="separator"></div>
    <div class="pdf-container">
        <div class="pdf-field text-danger">
            Reference Number: <b>[ <%= applicationInfo.id %> ]</b>
        </div>

        <div class="pdf-field">
            Application Type: <% if(applicationInfo.type == '0') { %>
            New License
            <% } %>
            <% if(applicationInfo.type == '1') { %>
            Add Category
            <% } %>
        </div>

        <div class="pp-img">PP Size Photo</div>

        <div class=" pdf-field">
            Applied Category: <% if(applicationInfo.licensecategory == '0') { %>
            (A) Motorcycle, Scooter, Moped
            <% } %>
            <% if(applicationInfo.licensecategory == '1') { %>
            (B) Car, Jeep, Delivery Van
            <% } %>
            <% if(applicationInfo.licensecategory == '2') { %>
            (C) Tempo, Auto Rickshaw
            <% } %>
            <% if(applicationInfo.licensecategory == '3') { %>
            (C1) E-Rickshaw
            <% } %>
            <% if(applicationInfo.licensecategory == '4') { %>
            (D) Power Tilter
            <% } %>
            <% if(applicationInfo.licensecategory == '5') { %>
            (E) Tractor
            <% } %>
            <% if(applicationInfo.licensecategory == '6') { %>
            (K) Scooter, Moped
            <% } %>
        </div>

        <div class="pdf-field">
            Applied Date: <%= applicationInfo.applieddate %> A.D.
        </div>

        <div class="pdf-field">
            Applicant Name: <%= applicationInfo.name %>
        </div>

        <div class="pdf-field">
            Date of Birth: <%= userInfo.dob %> A.D.
        </div>

        <div class="pdf-field">
            Gender: <% if(userInfo.gender == '0') { %>
            Male
            <% } %>
            <% if(userInfo.gender == '1') { %>
            Female
            <% } %>
            <% if(userInfo.gender == '2') { %>
            Others
            <% } %>
        </div>

        <div class="pdf-field">
            Blood Group: <% if(userInfo.bloodgroup == '0') { %>
            A positive (A+)
            <% } %>
            <% if(userInfo.bloodgroup == '1') { %>
            A negative (A-)
            <% } %>
            <% if(userInfo.bloodgroup == '2') { %>
            B positive (B+)
            <% } %>
            <% if(userInfo.bloodgroup == '3') { %>
            B negative (B-)
            <% } %>
            <% if(userInfo.bloodgroup == '4') { %>
            O positive (O+)
            <% } %>
            <% if(userInfo.bloodgroup == '5') { %>
            O negative (O-)
            <% } %>
            <% if(userInfo.bloodgroup == '6') { %>
            AB positive (AB+)
            <% } %>
            <% if(userInfo.bloodgroup == '7') { %>
            AB negative (AB-)
            <% } %>
        </div>

        <div class="pdf-field">
            Permanent Address: <%= userInfo.paddress %>
        </div>

        <div class="pdf-field">
            Temporary Address: <% if(userInfo.taddress) {%>
            <%= userInfo.taddress %>
            <% } else { %>
            ---
            <% }%>
        </div>

        <div class="pdf-field">
            Email: <%= userInfo.email %>
        </div>

        <div class="pdf-field">
            Mobile Number: (+977) <%= userInfo.mobile %>
        </div>

        <div class="pdf-field">
            Guardian's Name: <% if(userInfo.fathername) { %>
            <%= userInfo.fathername %>
            <% }else if(userInfo.mothername){ %>
            <%= userInfo.mothername %>
            <% }else{ %>
            ---
            <% } %>
        </div>

        <div class="pdf-field">
            Citizenship Number: <%= userInfo.citizenship %>
        </div>

        <div class="pdf-field">
            Citizenship Type: <% if(userInfo.citizenshiptype == '0') { %>
            Descendant
            <% } %>
            <% if(userInfo.citizenshiptype == '1') { %>
            Birth
            <% } %>
            <% if(userInfo.citizenshiptype == '2') { %>
            Adopted
            <% } %>
            <% if(userInfo.citizenshiptype == '3') { %>
            Complimentary
            <% } %>
        </div>

        <div class="pdf-field">
            Issued Date: <%= userInfo.citizenshipissueddate %> A.D.
        </div>

        <div class="pdf-field">
            Visit Office: Transport Management Office, Lalitpur
        </div>

        <div class="pdf-field">
            Office Visit Date: <%= applicationInfo.officevisitdate %> A.D.
        </div>

        <div class="separator"></div>

        <div class="notes">
            <b>Note: </b>Applicant must attend the Visit Office for biometric on Office Visit Date mentioned above.
            If
            in case, applicant fails to attend the visit office, he/she will have to re-apply for the online
            application
            again and the paid amount will not be refunded.
        </div>

        <div class="notes">
            <b>Please carry below mentioned documents along with this application</b>
            <br>
            1. Original and Photocopy of Citizenship
            <br>
            2. Medical Report provided by Doctor
        </div>
        <br>
        <br>
        <br>
        <%- include('footer.ejs') %>
    </div>
</body>

</html>