<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/register.css">
    <title>Register | EAS</title>
</head>

<body oncontextmenu="return false">
    <div class="form-container">
        <div class="art-container">
            <div class="logo"><img src="/img/Logo.png" alt="Government of Nepal"></div>
            <div class="art-content">
                <p class="text-danger">Online Driving License System</p>
                <p class="text-primary">Email Automation</p>
            </div>
        </div>
        <div class="form-title">User Registration</div>
        <form id="registrationform" action="/register" method="post">
            <div class="registration-form-input">
                <input type="text" name="fullname" id="fullname" placeholder="Full Name" value="<%= result.fullname %>">
                <div class="label-container" id="labelcontainerfullname">
                    <div class="form-error">
                        <% if(errorMessage.fullname) { %>
                        <%= errorMessage.fullname %>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="registration-form-input">
                <input type="text" name="email" id="email" placeholder="Email" autocomplete="off" autofocus="on"
                    value="<%= result.email %>">
                <div class="label-container" id="labelcontaineremail">
                    <div class="form-error">
                        <% if(errorMessage.email) { %>
                        <%= errorMessage.email %>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="registration-form-input">
                <input type="password" name="password" id="password" placeholder="Password"
                    value="<%= result.password %>">
                <div class="label-container" id="labelcontainerpassword">
                    <div class="form-error">
                        <% if(errorMessage.password) { %>
                        <%= errorMessage.password %>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="registration-form-input">
                <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password"
                    value="<%= result.confirmpassword %>">
                <div class="label-container" id="labelcontainerconfirmpassword">
                    <div class="form-error">
                        <% if(errorMessage.confirmpassword) { %>
                        <%= errorMessage.confirmpassword %>
                        <% } %>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="submit-button">Sign Up</button>
            </div>
        </form>
        <div class="form-option">
            Already have an account? <a href="/">Login</a>
        </div>
    </div>
    <script src="/js/register.js"></script>
</body>
<%- include('../footer.ejs') %>

</html>