<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/user.css">
    <title>Profile | EAS</title>
</head>

<body oncontextmenu="return false">
    <%- include('../header.ejs') %>
    <div class="user-container">
        <div class="view-title">Personal Details</div>
        <div class="user-form-container">
            <form id="userform" action="/dashboard/user/" method="post">
                <div class="sub-title">User Information</div>
                <div class="user-input-container">
                    <div class="user-form-input">
                        <div class="input-label">
                            <img src="/img/fullname.svg" alt="Full Name" />
                            <% if(userInfo.name){ %>
                            <input type="text" name="fullname" id="fullname" placeholder="Full Name"
                                value="<%= userInfo.name %>" disabled />
                            <% } else { %>
                            <input type="text" name="fullname" id="fullname" placeholder="Full Name"
                                value="<%= userInfo.name %>" />
                            <% } %>
                        </div>
                        <div class="label-container" id="labelcontainerfullname">
                            <div class="form-error"></div>
                        </div>
                    </div>
                    <div class="user-form-input">
                        <div class="input-label">
                            <img src="/img/email.svg" alt="Email" />
                            <input type="text" value="<%= userInfo.email %>" disabled />
                        </div>
                        <div class="label-container" id="labelcontaineremail">
                            <div class="form-error"></div>
                        </div>
                    </div>
                    <div class="user-form-input">
                        <div class="input-label">
                            <img src="/img/dob.png" alt="Date of Birth" />
                            <% if(userInfo.dob){ %>
                            <input type="date" name="dob" id="dob" placeholder="Date of Birth"
                                value="<%= userInfo.dob %>" disabled />
                            <% } else { %>
                            <input type="date" name="dob" id="dob" placeholder="Date of Birth"
                                value="<%= userInfo.dob %>" />
                            <% } %>

                        </div>
                        <div class="label-container" id="labelcontainerdob">
                            <div class="form-error"></div>
                        </div>
                    </div>
                    <div class="user-form-input">
                        <div class="input-label">
                            <img src="/img/mobile.svg" alt="Mobile Number" />
                            <% if(userInfo.mobile){ %>
                            <input type="text" name="mobile" id="mobile" placeholder="(+977) Mobile Number"
                                value="<%= userInfo.mobile %>" disabled />
                            <% } else { %>
                            <input type="text" name="mobile" id="mobile" placeholder="(+977) Mobile Number"
                                value="<%= userInfo.mobile %>" />
                            <% } %>
                        </div>
                        <div class="label-container" id="labelcontainermobile">
                            <div class="form-error"></div>
                        </div>
                    </div>
                </div>
                <div class="user-input-container">
                    <div class="user-form-input">
                        <div class="input-label">
                            <img src="/img/bloodgroup.svg" alt="Blood Group" />
                            <select name="bloodgroup" id="bloodgroup"
                                <%= (userInfo.bloodgroup != null) ? 'disabled' : ''%>>
                                <option value="Blood Group">Select Your Blood Group</option>
                                <option value="0" <%= userInfo.bloodgroup == '0' ? 'selected' : ''%>>(A+) A Positive
                                </option>
                                <option value="1" <%= userInfo.bloodgroup == '1' ? 'selected' : ''%>>(A-) A Negative
                                </option>
                                <option value="2" <%= userInfo.bloodgroup == '2' ? 'selected' : ''%>>(B+) B Positive
                                </option>
                                <option value="3" <%= userInfo.bloodgroup == '3' ? 'selected' : ''%>>(B-) B Negative
                                </option>
                                <option value="4" <%= userInfo.bloodgroup == '4' ? 'selected' : ''%>>(O+) O Positive
                                </option>
                                <option value="5" <%= userInfo.bloodgroup == '5' ? 'selected' : ''%>>(O-) O Negative
                                </option>
                                <option value="6" <%= userInfo.bloodgroup == '6' ? 'selected' : ''%>>(AB+) AB Positive
                                </option>
                                <option value="7" <%= userInfo.bloodgroup == '7' ? 'selected' : ''%>>(AB-) AB Negative
                                </option>
                            </select>
                        </div>
                        <div class="label-container" id="labelcontainerbloodgroup">
                            <div class="form-error"></div>
                        </div>
                    </div>

                    <div class="user-form-input">
                        <div class="input-label">
                            <img src="/img/paddress.svg" alt="Permanent Address" />
                            <% if(userInfo.paddress){ %>
                            <input type="text" name="paddress" id="paddress" placeholder="Permanent Address"
                                value="<%= userInfo.paddress %>" disabled />
                            <% } else { %>
                            <input type="text" name="paddress" id="paddress" placeholder="Permanent Address"
                                value="<%= userInfo.paddress %>" />
                            <% } %>
                        </div>
                        <div class="label-container" id="labelcontainerpaddress">
                            <div class="form-error"></div>
                        </div>
                    </div>

                    <div class="user-form-input">
                        <div class="input-label">
                            <img src="/img/taddress.svg" alt="Temporary Address" />
                            <% if(userInfo.taddress){ %>
                            <input type="text" name="taddress" id="taddress" placeholder="Temporary Address"
                                value="<%= userInfo.taddress %>" disabled />
                            <% } else { %>
                            <input type="text" name="taddress" id="taddress" placeholder="Temporary Address"
                                value="<%= userInfo.taddress %>" />
                            <% } %>
                        </div>
                        <div class="label-container" id="labelcontainertaddress">
                            <div class="form-error"></div>
                        </div>
                    </div>

                    <div class="user-form-input">
                        <div class="radio-selection">
                            <div>
                                <img src="/img/gender.svg" alt="Gender" />
                                <h3>Gender</h3>
                            </div>
                            <% if(userInfo.filledprofile == '1'){ %>
                            <div class="radio-value">
                                <input type="radio" name="gender" id="male" value="0" disabled
                                    <%= userInfo.gender == '0' ? 'checked' : ''%> />
                                <label for="male">Male</label>
                            </div>
                            <div class="radio-value">
                                <input type="radio" name="gender" id="female" value="1" disabled
                                    <%= userInfo.gender == '1' ? 'checked' : ''%> />
                                <label for="female">Female</label>
                            </div>
                            <div class="radio-value">
                                <input type="radio" name="gender" id="other" value="2" disabled
                                    <%= userInfo.gender == '2' ? 'checked' : ''%> />
                                <label for="other">Other</label>
                            </div>
                            <% } else { %>
                            <div class="radio-value">
                                <input type="radio" name="gender" id="male" value="0"
                                    <%= userInfo.gender == '0' ? 'checked' : ''%> />
                                <label for="male">Male</label>
                            </div>
                            <div class="radio-value">
                                <input type="radio" name="gender" id="female" value="1"
                                    <%= userInfo.gender == '1' ? 'checked' : ''%> />
                                <label for="female">Female</label>
                            </div>
                            <div class="radio-value">
                                <input type="radio" name="gender" id="other" value="2"
                                    <%= userInfo.gender == '2' ? 'checked' : ''%> />
                                <label for="other">Other</label>
                            </div>
                            <% } %>
                        </div>
                        <div class="label-container" id="labelcontainergender">
                            <div class="form-error"></div>
                        </div>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="sub-title">Citizenship Information</div>
                <div class="user-input-container">
                    <div class="user-form-input">
                        <div class="input-label">
                            <img src="/img/citizenship.svg" alt="Citizenship Number" />
                            <% if(userInfo.citizenship) { %>
                            <input type="text" name="citizenship" id="citizenship" placeholder="Citizenship Number"
                                value="<%= userInfo.citizenship %>" disabled />
                            <% } else { %>
                            <input type="text" name="citizenship" id="citizenship" placeholder="Citizenship Number" />
                            <% } %>
                        </div>
                        <div class="label-container" id="labelcontainercitizenship">
                            <div class="form-error"></div>
                        </div>
                    </div>

                    <div class="user-form-input">
                        <div class="input-label">
                            <img src="/img/citizenshiptype.svg" alt="Citizenship Type" />
                            <select name="citizenshiptype" id="citizenshiptype"
                                <%= (userInfo.citizenshiptype != null) ? 'disabled' : ''%>>
                                <option value="Citizenship Type">Select Citizenship Type</option>
                                <option value="0" <%= userInfo.citizenshiptype == '0' ? 'selected' : ''%>>Descendant
                                </option>
                                <option value="1" <%= userInfo.citizenshiptype == '1' ? 'selected' : ''%>>Birth</option>
                                <option value="2" <%= userInfo.citizenshiptype == '2' ? 'selected' : ''%>>Adopted
                                </option>
                                <option value="3" <%= userInfo.citizenshiptype == '3' ? 'selected' : ''%>>Complimentary
                                </option>
                            </select>
                        </div>
                        <div class="label-container" id="labelcontainercitizenshiptype">
                            <div class="form-error"></div>
                        </div>
                    </div>

                    <div class="user-form-input">
                        <div class="input-label">
                            <img src="/img/citizenshipissueddistrict.png" alt="Citizenship Issued District" />
                            <% if(userInfo.citizenshipissueddistrict) { %>
                            <input type="text" name="citizenshipissueddistrict" id="citizenshipissueddistrict"
                                placeholder="Citizenship Issued District"
                                value="<%= userInfo.citizenshipissueddistrict %>" disabled />
                            <% } else { %>
                            <input type="text" name="citizenshipissueddistrict" id="citizenshipissueddistrict"
                                placeholder="Citizenship Issued District" />
                            <% } %>
                        </div>
                        <div class="label-container" id="labelcontainercitizenshipissueddistrict">
                            <div class="form-error"></div>
                        </div>
                    </div>

                    <div class="user-form-input">
                        <div class="input-label">
                            <img src="/img/citizenshipissueddate.svg" alt="Citizenship Issued Date" />
                            <% if(userInfo.citizenshipissueddate) { %>
                            <input type="date" name="citizenshipissueddate" id="citizenshipissueddate"
                                placeholder="Citizenship Issued Date" value="<%= userInfo.citizenshipissueddate %>"
                                disabled />
                            <% } else { %>
                            <input type="date" name="citizenshipissueddate" id="citizenshipissueddate"
                                placeholder="Citizenship Issued Date" />
                            <% } %>

                        </div>
                        <div class="label-container" id="labelcontainercitizenshipissueddate">
                            <div class="form-error"></div>
                        </div>
                    </div>
                </div>

                <div class="separator"></div>
                <div class="sub-title">Family Information</div>
                <div class="user-input-container">
                    <div class="user-form-input">
                        <div class="input-label">
                            <img src="/img/grandfather.svg" alt="Grandfather's Name" />
                            <% if(userInfo.grandfathername){ %>
                            <input type="text" name="grandfather" id="grandfather" placeholder="Grandfather's Name"
                                value="<%= userInfo.grandfathername %>" disabled />
                            <% } else { %>
                            <input type="text" name="grandfather" id="grandfather" placeholder="Grandfather's Name"
                                value="<%= userInfo.grandfathername %>" />
                            <% } %>
                        </div>
                        <div class="label-container" id="labelcontainergrandfather">
                            <div class="form-error"></div>
                        </div>
                    </div>

                    <div class="user-form-input">
                        <div class="input-label">
                            <img src="/img/father.svg" alt="Father's Name" />
                            <% if(userInfo.fathername){ %>
                            <input type="text" name="father" id="father" placeholder="Father's Name"
                                value="<%= userInfo.fathername %>" disabled />
                            <% } else { %>
                            <input type="text" name="father" id="father" placeholder="Father's Name"
                                value="<%= userInfo.fathername %>" />
                            <% } %>
                        </div>
                        <div class="label-container" id="labelcontainerfather">
                            <div class="form-error"></div>
                        </div>
                    </div>

                    <div class="user-form-input">
                        <div class="input-label">
                            <img src="/img/mother.svg" alt="Mother's Name" />
                            <% if(userInfo.mothername){ %>
                            <input type="text" name="mother" id="mother" placeholder="Mother's Name"
                                value="<%= userInfo.mothername %>" disabled />
                            <% } else { %>
                            <input type="text" name="mother" id="mother" placeholder="Mother's Name"
                                value="<%= userInfo.mothername %>" />
                            <% } %>
                        </div>
                        <div class="label-container" id="labelcontainermother">
                            <div class="form-error"></div>
                        </div>
                    </div>

                    <div class="user-form-input">
                        <div class="input-label">
                            <img src="/img/spouse.svg" alt="Spouse's Name" />
                            <% if(userInfo.spousename){ %>
                            <input type="text" name="spouse" id="spouse" placeholder="Spouse's Name"
                                value="<%= userInfo.spousename %>" disabled />
                            <% } else { %>
                            <input type="text" name="spouse" id="spouse" placeholder="Spouse's Name"
                                value="<%= userInfo.spousename %>" />
                            <% } %>
                        </div>
                        <div class="label-container" id="labelcontainerspouse">
                            <div class="form-error"></div>
                        </div>
                    </div>
                </div>

                <% if(userInfo.filledprofile == '1' && (userInfo.haslicense == '0' || userInfo.haslicense == null)){ %>
                <% } else { %>
                <div class="separator"></div>
                <div class="sub-title">License Information</div>
                <% } %>

                <% if((userInfo.filledprofile == '0' || userInfo.filledprofile == null) && (userInfo.haslicense == null || userInfo.haslicense == '0')){ %>
                <div class="haslicense">
                    <label for="haslicense" class="text-danger">[ Have a driving license? ]</label>
                    <input type="checkbox" name="haslicense" id="haslicense" />
                </div>
                <% } %>

                <% if(userInfo.filledprofile == '1' && (userInfo.haslicense == null || userInfo.haslicense == '0')) { %>
                <div class="licenseinfo" style="display: none">
                    <% } else if ((userInfo.filledprofile == '0' || userInfo.filledprofile == null) && (userInfo.haslicense == null || userInfo.haslicense == '0')) { %>
                    <div class="licenseinfo" style="display: none">
                        <% } else { %>
                        <div class="licenseinfo" style="display: block">
                            <% } %>
                            <div class="user-input-container">
                                <div class="user-form-input">
                                    <div class="input-label">
                                        <img src="/img/licensecategory.svg" alt="License Category" />
                                        <select name="licensecategory" id="licensecategory"
                                            <%= userInfo.haslicense == '1' ? 'disabled' : ''%>>
                                            <option value="License Category">Select License Category</option>
                                            <option value="0" <%= userInfo.licensecategory == '0' ? 'selected' : ''%>>
                                                (A)
                                                Motorcycle,
                                                Scooter, Moped</option>
                                            <option value="1" <%= userInfo.licensecategory == '1' ? 'selected' : ''%>>
                                                (B)
                                                Car,
                                                Jeep, Delivery Van</option>
                                            <option value="2" <%= userInfo.licensecategory == '2' ? 'selected' : ''%>>
                                                (C)
                                                Tempo,
                                                Auto Rickshaw</option>
                                            <option value="3" <%= userInfo.licensecategory == '3' ? 'selected' : ''%>>
                                                (C1)
                                                E-Rickshaw</option>
                                            <option value="4" <%= userInfo.licensecategory == '4' ? 'selected' : ''%>>
                                                (D)
                                                Power
                                                Tilter</option>
                                            <option value="5" <%= userInfo.licensecategory == '5' ? 'selected' : ''%>>
                                                (E)
                                                Tractor</option>
                                            <option value="6" <%= userInfo.licensecategory == '6' ? 'selected' : ''%>>
                                                (K)
                                                Scooter, Moped</option>
                                        </select>
                                    </div>
                                    <div class="label-container" id="labelcontainerlicensecategory">
                                        <div class="form-error"></div>
                                    </div>
                                </div>

                                <div class="user-form-input">
                                    <div class="input-label">
                                        <img src="/img/licensenumber.svg" alt="License Number" />
                                        <% if(userInfo.haslicense== '1') { %>
                                        <input type="text" name="licensenumber" id="licensenumber"
                                            placeholder="License Number" value="<%= userInfo.licensenumber %>"
                                            disabled />
                                        <% } else { %>
                                        <input type="text" name="licensenumber" id="licensenumber"
                                            placeholder="License Number" />
                                        <% } %>
                                    </div>
                                    <div class="label-container" id="labelcontainerlicensenumber">
                                        <div class="form-error"></div>
                                    </div>
                                </div>

                                <div class="user-form-input">
                                    <div class="input-label">
                                        <img src="/img/licenseissueddistrict.png" alt="License Issued District" />
                                        <% if(userInfo.haslicense == '1') { %>
                                        <input type="text" name="licenseissueddistrict" id="licenseissueddistrict"
                                            placeholder="License Issued District"
                                            value="<%= userInfo.licenseissueddistrict %>" disabled />
                                        <% } else { %>
                                        <input type="text" name="licenseissueddistrict" id="licenseissueddistrict"
                                            placeholder="License Issued District" />
                                        <% } %>
                                    </div>
                                    <div class="label-container" id="labelcontainerlicenseissueddistrict">
                                        <div class="form-error"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="user-input-container">
                                <div class="user-form-input">
                                    <section>License Issued Date</section>
                                    <div class="input-label">
                                        <img src="/img/licenseissueddate.svg" alt="License Issued Date" />
                                        <% if(userInfo.haslicense == '1') { %>
                                        <input type="date" name="licenseissueddate" id="licenseissueddate"
                                            value="<%= userInfo.licenseissueddate %>" disabled />
                                        <% } else { %>
                                        <input type="date" name="licenseissueddate" id="licenseissueddate" />
                                        <% } %>
                                        <div class="label-container" id="labelcontainerlicenseissueddate">
                                            <div class="form-error"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="user-form-input">
                                    <section>License Expiry Date</section>
                                    <div class="input-label">
                                        <img src="/img/licenseexpirydate.svg" alt="License Expiry Date" />
                                        <% if(userInfo.haslicense == '1') { %>
                                        <input type="date" name="licenseexpirydate" id="licenseexpirydate"
                                            value="<%= userInfo.licenseexpirydate %>" disabled />
                                        <% } else { %>
                                        <input type="date" name="licenseexpirydate" id="licenseexpirydate" />
                                        <% } %>
                                        <div class="label-container" id="labelcontainerlicenseexpirydate">
                                            <div class="form-error"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </form>
        </div>
        <% if(userInfo.filledprofile != '1'){ %>
        <div>
            <button type="submit" class="submit-button">Update Information</button>
        </div>
        <% } %>
        <div class="form-option">
            Go Back?<a href="/dashboard">Cancel</a>
        </div>
    </div>
    <script src="/js/user.js"></script>
</body>
<%- include('../footer.ejs') %>

</html>